<div class="container">
  <div class="row">
    <div class="span12">
      <div class="head">
        <div class="row-fluid">
          <div class="span12">
            <div class="span6">
              <h1 class="muted">Welcome to Daniel Industries!</h1>
            </div>
            <div class="span4 offset2" style="margin-top:15px;">
              <a class="button btn pull-right" href="/login" type="button">Login!</a>
            </div>
          </div>
        </div>
        <div class="navbar">
          <div class="navbar-inner" style="background-color: black">
            <div class="container"><ul class="nav"><li><a href="/gamepage">Explore New Games</a></li><li><a href="/registration">Register Account</a></li><li><a href="/about">About Us!</a></li></ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>About Us!</h1>
        <p>A home for building and playing your curated game collection, Daniel Industries is a digital distribution platform that puts gamers first and respects their need to own games.</p>
          <p>Welcome to our virtual realm, where passion for gaming converges with a commitment to delivering an unparalleled gaming experience. At Daniel Industries, we are not just a marketplace; we are enthusiasts, advocates, and architects of the gaming universe. As fervent gamers ourselves, we understand the thrill of embarking on epic adventures, conquering virtual worlds, and immersing ourselves in the boundless creativity of game developers. Our mission is to curate a diverse selection of top-tier titles, ranging from indie gems to blockbuster masterpieces, ensuring that every gamer finds their perfect match. With a user-friendly platform reminiscent of a gamer's paradise, Daniel Industries is your go-to destination for discovering, acquiring, and enjoying the latest and greatest video games.
            Beyond mere transactions, we aspire to foster a vibrant gaming community. Daniel Industries is more than just a storefront; it's a gathering place for fellow gamers to connect, share experiences, and celebrate the ever-evolving landscape of interactive entertainment. Our team is dedicated to providing exceptional customer service, tailored recommendations, and exclusive deals, all designed to enhance your gaming journey. Whether you're a seasoned player or a newcomer to the digital realm, join us at Daniel Industries as we embark on a quest to redefine the way you discover and enjoy the vast universe of video games.</p></div><footer></footer><div class="row"><div class="col-12"><p>Copyright 1912 Daniel Industries inc. ©</p></div></div></div></div>
