extends layout

block content

  form(method='get')
    .container
      h2 Login
      p Enter your login details to continue!
      hr
      // Label down to input is one block of code.
      label(for='name')
        b Name
      input#name(type='text', placeholder='Name', name='name', required)
      label(for='password')
        b Password
      input#password(type='password', placeholder='Password', name='password', required)
      button.registerbtn(type='submit') Login
    .signin
      p
        | Don't have an account? 
        a(href='/register') Register Here!
        |