extends layout

block content
  h2 #{title}
  h3 #{heading}
  h3 #{loginStatus}
    form(method='post')
      .container
        p Please fill in this form to create an account.
        hr
        label(for='name')
          b Name
        input#name(type='text', placeholder='Name', name='name', required)
        br
        label(for='phone')
          b Phone
        input#phone(type='text', placeholder='Phone', name='phone', required)
        br
        label(for='password')
          b Password
        input#password(type='password', placeholder='Password', name='password', required)
        br
        label(for='cardnumber')
          b Credit Card Number
        input#cardnumber(type='text', placeholder='Card Number', name='cardnumber', required)
        p
          | By creating an account you agree to our
          a(href='/about') Terms &amp; Privacy
          | .
        button.registerbtn(type='submit', value='submit') Register
      .signin
        p
          | Already have an account?
          a(href='/login') Sign in
          | .
